@media(max-width: 425px){

    body{
        background-image: url(../images/bg-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }

    .logo img{
        margin: 20px 
    }

    .informations{
        flex-direction: column;
        align-items: center;
    }

    .informations .image-mockups img{
        width: 300px;
    } 

    .info{
        text-align: center;
        padding: 0;
    }
    
    .info .title{
        font-size: 1.7rem;
        margin: 0 30px;
    }

    .info p{
        margin: 0 30px
    }

    .redes{
        padding: 50px;
        justify-content: center;
    }
} 